# Redirect to a custom error page if the page is not found
RewriteEngine On

# If the file does not exist
RewriteCond %{REQUEST_FILENAME} !-f

# If the directory does not exist
RewriteCond %{REQUEST_FILENAME} !-d

# 301 Moved Permanently (SEO friendly)
RewriteRule ^(.*)$ https://personal.listadedeseos.es/$1 [R=301,L]