---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lista de deseos">
  <main class="p-3 flex flex-col gap-3 max-w-5xl">

    <p class="bg-gray-200 p-3 rounded">
      Imagina un lugar donde todos tus sue침os y deseos se hagan realidad con
      solo un clic. En <a class="text-blue-500" href="//listadedeseos.es"
        ><strong>lista</strong>de<strong>deseos</strong>.es</a
      > , transformamos tus aspiraciones en una lista organizada y accesible para
      que nunca pierdas de vista tus objetivos.
    </p>

    <section class="flex flex-col md:flex-row gap-3">
      <p class="bg-gray-200 p-3 rounded">
        <strong>游꾸 Organiza tus Deseos:</strong> Crea y gestiona tus listas de deseos
        de manera f치cil y r치pida. Desde metas personales y profesionales hasta los
        art칤culos que siempre has querido tener, todo en un solo lugar.
      </p>

      <p class="bg-gray-200 p-3 rounded">
        <strong>游눫 Comparte con Amigos y Familia:</strong> Comparte tus listas con
        aquellos que m치s te importan y recibe sorpresas inesperadas. Ya sea para
        tu cumplea침os, Navidad o cualquier ocasi칩n especial, aseg칰rate de que siempre
        sepan qu칠 regalarte.
      </p>
    </section>

    <section class="flex flex-col gap-3">
      <article class="border-2 rounded shadow flex gap-3 p-3 bg-gray-200">
        <img
          class="h-60 rounded"
          src="/img/santaclaus.png"
          alt="Imagen de santa claus leyendo una carta, es una imagen c치lida"
        />
        <div>
          <h2 class="font-bold text-3xl">Regalos para pap치 n칬el</h2>
          <p>Aqu칤 podr치s pedir tus regalos de pap치 n칬el</p>
          <button class="bg-blue-500 text-white px-3 py-1 rounded"
            >Pedir regalos</button
          >
        </div>
      </article>

      <article class="border-2 rounded shadow flex gap-3 p-3 bg-gray-200">
        <div>
          <h2 class="font-bold text-3xl">Regalos para el amigo invisible</h2>
          <p>Aqu칤 podr치s pedir tus regalos para tus compa침eros de trabajo</p>
          <button class="bg-blue-500 text-white px-3 py-1 rounded"
            >Pedir regalos</button
          >
        </div>
        <img
          class="ms-auto h-60 rounded"
          src="/img/workmates.png"
          alt="Imagen de compa침eros de trabajo intercambiando regalos y sonriendo con ellos en la mano"
        />
      </article>

      <article class="border-2 rounded shadow flex gap-3 p-3 bg-gray-200">
        <img
          class="h-60 rounded"
          src="/img/couple.png"
          alt="Imagen de una pareja abraz치ndose y sonriendo, es una imagen c치lida"
        />
        <div>
          <h2 class="font-bold text-3xl">Regalos para tu pareja</h2>
          <p>Aqu칤 podr치s pedir tus regalos para tu pareja</p>
          <button class="bg-blue-500 text-white px-3 py-1 rounded"
            >Pedir regalos</button
          >
        </div>
      </article>

      <p>
        <strong>游 춰Empieza ahora!</strong> Crea tu cuenta y comienza a pedir tus
        regalos de navidad, cumplea침os, aniversarios y mucho m치s. 춰No esperes m치s!
      </p>
    </section>
  </main>
</Layout>
