---
import Layout from "../layouts/Layout.astro";
import Phone from "../components/Phone.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Lista de deseos">
  <main class="flex flex-col gap-3">
    <!---------------- First view section ---------------->
    <section
      class="flex flex-col md:flex-row max-w-5xl m-auto px-4 pt-4 md:pt-0 gap-4"
    >
      <section class="flex flex-col justify-center gap-4">
        <h1 class="text-5xl font-bold">
          Crea tu <strong>lista de deseos</strong> perfecta para tus ocasiones más
          importantes
        </h1>

        <p>
          Con nuestra herramienta, puedes crear listas de deseos personalizadas
          para cualquier ocasión. Ya sea un cumpleaños, una boda o cualquier
          otro evento especial, nuestra plataforma te permite organizar tus
          deseos de manera sencilla y efectiva.
        </p>

        <div class="flex gap-4 text-white font-bold">
          <a
            href="https://app.listadedeseos.es/register"
            class="border-2 border-blue-600 bg-blue-500 px-3 py-2 rounded-lg hover:bg-blue-600 hover:border-blue-500 transition"
          >
            ¡Quiero mi lista de deseos!
          </a>
          <a
            href="https://listadedeseos.es/admin/demo"
            class="px-3 py-2 border-2 rounded-lg text-blue-500 border-blue-500 hover:bg-blue-400 hover:text-white hover:border-white transition"
          >
            <i class="fa-regular fa-face-laugh-wink"></i>
            Ver lista de deseos de ejemplo
          </a>
        </div>

        <section>
          <div class="flex gap-2 items-center text-md">
            <Icon name="fa:check-circle" class="text-green-700" />
            <p>Registro rápido con redes sociales</p>
          </div>

          <div class="flex gap-2 items-center text-md">
            <Icon name="fa:check-circle" class="text-green-700" />

            <p>Gratis, no tienes que pagar nada</p>
          </div>
        </section>
      </section>

      <Phone
        imageSrc="/img/demoWishlist.png"
        imageAlt="Sencillo y fácil de usar"
      />
    </section>
    <!---------------- First view section end ---------------->

    <!---------------- Benefits section ---------------->
    <section>
      <svg
        class="w-full h-20 md:h-36"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="none"
        viewBox="0 0 1024 200"
      >
        <g mask='url("#SvgjsMask1249")' fill="none">
          <path
            class="fill-blue-300"
            d="M 0,35 C 68.4,43 205.2,72.6 342,75 C 478.8,77.4 547.6,49.4 684,47 C 820.4,44.6 956,59.8 1024,63L1024 200L0 200z"
          ></path>
          <path
            class="fill-blue-500"
            d="M 0,168 C 68.4,155 205.2,98.4 342,103 C 478.8,107.6 547.6,186.6 684,191 C 820.4,195.4 956,138.2 1024,125L1024 200L0 200z"
          ></path>
        </g>
        <defs>
          <mask id="SvgjsMask1249">
            <rect width="1024" height="200" fill="#ffffff"></rect>
          </mask>
        </defs>
      </svg>
      <section class="bg-blue-500 text-white p-4">
        <section class="flex flex-col max-w-5xl m-auto gap-4">
          <h1 class="text-4xl font-bold text-center">Beneficios</h1>
          <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!---------------------------------->
            <div
              class="animation-scale flex flex-col items-center gap-2 p-4 bg-blue-400 rounded-lg shadow-md"
            >
              <Icon name="fa:gift" class="text-white text-5xl" />
              <h2 class="text-xl font-bold">Regalos</h2>
              <p class="text-center">
                Recibe regalos que
                <strong class="text-white"> realmente deseas </strong>
                y evita sorpresas
              </p>
            </div>
            <!---------------------------------->
            <div
              class="animation-scale flex flex-col items-center gap-2 p-4 bg-blue-400 rounded-lg shadow-md"
            >
              <Icon name="fa:users" class="text-white text-5xl" />
              <h2 class="text-xl font-bold">Familia y amigos</h2>
              <p class="text-center">
                <strong class="text-white"> Comparte tu lista </strong>
                con tus seres queridos para que sepan qué regalarte
              </p>
            </div>
            <!---------------------------------->
            <div
              class="animation-scale flex flex-col items-center gap-2 p-4 bg-blue-400 rounded-lg shadow-md"
            >
              <Icon name="fa:clock-o" class="text-white text-5xl" />
              <h2 class="text-xl font-bold">Ahorra tiempo</h2>
              <div>
                <p class="text-center">
                  Olvídate de buscar regalos de última hora
                </p>
                <p class="text-center">
                  ¡tenlo <strong class="text-white">todo organizado</strong>!
                </p>
              </div>
            </div>
            <!---------------------------------->
            <div
              class="animation-scale flex flex-col items-center gap-2 p-4 bg-blue-400 rounded-lg shadow-md"
            >
              <Icon name="fa:heart" class="text-white text-5xl" />
              <h2 class="text-xl font-bold">Personaliza</h2>
              <p class="text-center">
                Personaliza tu lista con tus deseos y
                <strong class="text-white">
                  sincroniza con Steam, Amazon y Aliexpress
                </strong>
                para tenerlo todo en un solo lugar
              </p>
            </div>
            <!---------------------------------->
          </section>
        </section>
      </section>
      <svg
        class="rotate-180 w-full h-20 md:h-36"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="none"
        viewBox="0 0 1024 200"
      >
        <g mask='url("#SvgjsMask1257")' fill="none">
          <path
            class="fill-blue-300"
            d="M 0,18 C 68.4,32 205.2,84.6 342,88 C 478.8,91.4 547.6,41.6 684,35 C 820.4,28.4 956,51 1024,55L1024 200L0 200z"
          ></path>
          <path
            class="fill-blue-500"
            d="M 0,143 C 68.4,146.8 205.2,167.6 342,162 C 478.8,156.4 547.6,109 684,115 C 820.4,121 956,176.6 1024,192L1024 200L0 200z"
          ></path>
        </g>
        <defs>
          <mask id="SvgjsMask1257">
            <rect width="1024" height="200" fill="#ffffff"></rect>
          </mask>
        </defs>
      </svg>
    </section>

    <!---------------- Benefits section end ---------------->

    <!---------------- How works section ---------------->
    <section class="p-4 text-blue-900">
      <section class="flex flex-col max-w-5xl m-auto gap-4">
        <h1 class="text-4xl font-bold text-center">¿Cómo funciona?</h1>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-9 py-10">
          <!---------------------------------->
          <div class="animation-scale flex flex-col gap-2 border-l-4 rounded-lg">
            <h2 class="flex font-bold items-center gap-2">
              <Icon name="fa:user" class="text-blue-600" />
              <span class="text-xl">Regístrate</span>
            </h2>
            <p>
              Crea tu cuenta de forma rápida o hazlo de manera sencilla con tu
              red social favorita
            </p>
          </div>
          <!---------------------------------->
          <div class="animation-scale flex flex-col gap-2 border-l-4 rounded-lg">
            <h2 class="flex font-bold items-center gap-2">
              <Icon name="fa:pencil" class="text-blue-600" />
              <span class="text-xl">Crea tu lista</span>
            </h2>
            <p>
              Añade tus deseos y sincroniza tus listas de deseos de Steam,
              Amazon y Aliexpress
            </p>
          </div>
          <!---------------------------------->
          <div class="animation-scale flex flex-col gap-2 border-l-4 rounded-lg">
            <h2 class="flex font-bold items-center gap-2">
              <Icon name="fa:share-alt" class="text-blue-600" />
              <span class="text-xl">Comparte</span>
            </h2>
            <p>
              Comparte la lista con tus amigos y familiares para que sepan qué
              regalarte
            </p>
          </div>
          <!---------------------------------->
        </section>
      </section>
    </section>
    <!---------------- How works section end ---------------->
  </main>
</Layout>

<style>
  .animation-scale {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: appear;
    animation-range: entry 10% contain 25%;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
  }

  @keyframes appear {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
