---
import Header from '../components/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/logo.svg" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Concert+One&family=Righteous&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="baloo2 bg-custom_light_gray flex flex-col items-center min-h-screen"
  >
  <Header/>
    <slot />
  </body>
</html>

<style>
  .baloo2 {
    font-family: "Baloo 2", sans-serif;
  }
</style>
